h3{
    margin-top: 80px;
}

.contact-container{
    background: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    position: relative;
}

.form-group{
    width: 100%;
}

.create-icon{
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border: none;
}

.contact-names{
    display: flex;
    flex-direction: column;
    width: 100%;
}