<div class="container add-contact">
    <h4>Edit Contact</h4>
    <div class="contact-details">
        <form [formGroup]="myForm" (ngSubmit) = "saveDetails(myForm)">
            <label for="name">Name</label>
        <br>
        <input #name type="text" id="name" class="form-control" placeholder = "Enter name" value = "{{personDetails['name']}}" [formControl]="myForm.controls['name']">
        <div class="alert alert-danger danger-div" *ngIf="( !myForm.controls['name'].valid)">
            Name is required!
        </div>
        <br>
        <label for="dob">DOB</label>
        <br>
        <input #dob type="text" id="dob" class="form-control" placeholder = "dd/mm/yyyy" value = "{{personDetails['dob']}}" [formControl]="myForm.controls['dob']">
        <div class="alert alert-danger danger-div" *ngIf="( !myForm.controls['dob'].valid)">
            DOB is invalid! Proper format dd/mm/yyyy
        </div>
        <br>

        <label for="mobile-number">Mobile Number</label>
        <br>
        <input #mobile type="number" id="mobile-number" class="form-control" value = "{{personDetails['phoneNumbers']}}" placeholder = "Enter phone number" [formControl]="myForm.controls['contactno']">
        <div class="alert alert-danger danger-div" *ngIf="( !myForm.controls['contactno'].valid)">
            Contact number length must be 10 and must be valid!
        </div>
        <br>
        <label for="email">Email</label>
        <br>
        <input #email type="email" id="email" class="form-control" placeholder = "Enter email" value = "{{personDetails['emails']}}" [formControl]="myForm.controls['email']">
        <div class="alert alert-danger danger-div" *ngIf="( !myForm.controls['email'].valid)">
            Email is invalid!
        </div>

        <div class="buttons">
            <button type="submit" class="btn btn-primary">Update</button>
            <button class="btn btn-success" routerLink = "/">Go back</button>
        </div>
        </form>
        
    </div>
</div>