<div class="centered-content">
  <div class="login-box">
    
    <form>
      <h3 class="text-center">Login</h3>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input #emailInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input #passwordInput type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-primary" (click) = "onLoginBtnClicked(emailInput.value, passwordInput.value)">Login</button>
        <button routerLink="/" class="btn btn-dark">Signup</button>
      </div>
    </form>
  </div>
</div>
