/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #44ddd0, #27d7a1);
}

body{
    height: 100%;
}
