<div class="container add-contact">
    <h4>Add Contact</h4>
    <div class="contact-details">
        <label for="name">Name</label>
        <br>
        <input #name type="text" id="name" class="form-control" required>
        <br>
        <br>
        <label for="dob">DOB</label>
        <br>
        <input #dob type="date" id="dob" class="form-control" required>
        <br>
        <br>
        <label for="mobile-number">Mobile Number</label>
        <br>
        <input #mobile type="number" id="mobile-number" class="form-control" required>
        <br>
        <br>
        <label for="email">Email</label>
        <br>
        <input #email type="email" id="email" class="form-control" required>

        <div class="buttons">
            <button (click) = "saveDetails(name,dob,mobile,email)" class="btn btn-primary">Save</button>
            <button class="btn btn-success" routerLink = "/">Go back</button>
        </div>
    </div>
</div>